@page
@model FreakyFashion1.CategoryModel
@{
    ViewData["Title"] = "Category";
}

<h1>@Model.category.Name</h1>


<div class="row">
    @foreach (var productCategory in Model.category.ProductCategories.Take(8))
    {
        <div class="col-md-3 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="view">
                    <a asp-page="/Product" asp-route-name="@productCategory.Product.Name" asp-route-urlSlug ="@productCategory.Product.UrlSlug">
                        <img src="@productCategory.Product.ImageUrl" class="card-img-top"
                             alt="@productCategory.Product.Name">
                    </a>
                    <div class="mask rgba-white-slight"></div>
                </div>
                <div class="card-body">
                    <p class="card-title text-center">@productCategory.Product.Name<p>
                    <p class="card-title text-center">@productCategory.Product.Price<p>
                </div>
            </div>
        </div>
    }
</div>

