@using FreakyFashion1.Models
@model List<Product>


<h4>Rekommenderat för dig</h4>


<div class="row">
    @foreach (var product in Model.Take(4))
    {
        <div class="col-md-3 mb-3 d-flex align-items-stretch">
            <div class="card">
                <div class="view">
                    <a asp-page="/Product" asp-route-name="@product.Name" asp-route-urlSlug="@product.UrlSlug">
                        <img src="@product.ImageUrl" class="card-img-top"
                             alt="">
                    </a>
                    <div class="mask rgba-white-slight"></div>
                </div>
                <div class="card-body">
                    <p class="card-title text-center">@product.Name<p>
                    <p class="card-title text-center">@product.Price<p>
                </div>
            </div>
        </div>
    }
</div>